<nav class="navbar navbar-expand-lg navbar-light bg-nav sticky-top">
  <div class="container-fluid">
    <img
      class="nav-icon"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyooJpe9_ag9UEXPq-GHgnCb47kBechQO2AA&usqp=CAU"
      alt=""
    />
    <h2 class="nav-font-icon">Fit & Fab</h2>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav gap-1">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark btn-fancy">
            Workout
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark btn-fancy">
            Skin & Hair
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark btn-fancy">
            Diet
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- nav ended -->

<div class="home d-flex">
  <div class="home-content">
    <h1>Let's fix your fitness routine</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere doloribus
      exercitationem placeat, nemo voluptate sit ut ex similique vero amet fugit
      aut, perferendis nihil modi, ducimus sapiente soluta dolore! Facilis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque
      exercitationem suscipit aliquam nesciunt veritatis atque sed pariatur
      eveniet. Ipsa ex tenetur necessitatibus impedit quod praesentium vel id
      recusandae odit! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Corrupti cumque exercitationem suscipit aliquam nesciunt veritatis atque
      sed pariatur eveniet. Ipsa ex tenetur necessitatibus impedit quod
      praesentium vel id recusandae odit! Lorem ipsum, dolor sit amet
      consectetur adipisicing elit. Corrupti cumque exercitationem suscipit
      aliquam nesciunt veritatis atque sed pariatur eveniet. Ipsa ex tenetur
      necessitatibus impedit quod praesentium vel id recusandae odit!
    </p>
  </div>
  <img
    class="home-img"
    src="https://www.freevector.com/uploads/vector/preview/9731/FreeVector-Fitness-Girl-Vector.jpg"
    alt=""
  />
</div>

<!-- home ended -->

<div class="banner d-flex flex-column align-items-center">
  <img
    class="banner-img"
    src="https://i.pinimg.com/736x/5d/cc/2f/5dcc2f1b44f04b0fd0d784fb8d39fee3.jpg"
    alt=""
  />
  <p class="banner-p">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque
    exercitationem suscipit aliquam nesciunt veritatis atque sed pariatur
    eveniet. Ipsa ex tenetur necessitatibus impedit quod praesentium vel id
    recusandae odit!
  </p>

  <img
    class="banner-img"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTViFoCJdHC62Hv-KKeME80--29IPSL9egFcQ&usqp=CAU"
    alt=""
  />
  <p class="banner-p">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque
    exercitationem suscipit aliquam nesciunt veritatis atque sed pariatur
    eveniet. Ipsa ex tenetur necessitatibus impedit quod praesentium vel id
    recusandae odit!
  </p>
  <img
    class="banner-img"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRydzn-ucqP0rf1BEiAX7P3y4kSKkFHQv1icg&usqp=CAU"
    alt=""
  />
  <p class="banner-p">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque
    exercitationem suscipit aliquam nesciunt veritatis atque sed pariatur
    eveniet. Ipsa ex tenetur necessitatibus impedit quod praesentium vel id
    recusandae odit!
  </p>
  <img
    class="banner-img"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKmgV3qXcMJ768k_RZAZuqVASsfSfoRGpfEw&usqp=CAU"
    alt=""
  />
  <p class="banner-p">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti cumque
    exercitationem suscipit aliquam nesciunt veritatis atque sed pariatur
    eveniet. Ipsa ex tenetur necessitatibus impedit quod praesentium vel id
    recusandae odit! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Corrupti cumque exercitationem suscipit aliquam nesciunt veritatis atque sed
    pariatur eveniet. Ipsa ex tenetur necessitatibus impedit quod praesentium
    vel id recusandae odit! Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Corrupti cumque exercitationem suscipit aliquam nesciunt veritatis
    atque sed pariatur eveniet. Ipsa ex tenetur necessitatibus impedit quod
    praesentium vel id recusandae odit!
  </p>
</div>
<!-- workout -->
<div class="workout">
  <div>
    <!-- <img
      src="https://cdn.dribbble.com/users/5686307/screenshots/16014882/media/ee8d3998b852f55a7046c8b43545033f.jpg?compress=1&resize=400x300"
      alt=""
    /> -->
  </div>
</div>
<!-- skin and hair -->
<div class="skinAndhair d-flex flex-column">
  <div class="d-flex">
    <img
      class="skinAndhair-img"
      src="https://media.istockphoto.com/vectors/girl-woman-wakes-up-and-stretches-in-bed-under-the-covers-in-bed-vector-id1342312892?k=20&m=1342312892&s=612x612&w=0&h=mh9fxtU9nHfvzsOuYWOmtERZqfKjZ31N1JDJVb_lX1g="
      alt=""
    />
    <div class="skinAndhair-h">
      <h1>Skincare is essential</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        repudiandae aperiam consectetur sunt dolor sed itaque ipsa dolorem nisi
        consequatur voluptate molestiae tempore quod modi, placeat obcaecati,
        neque debitis impedit?
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="skinAndhair-h">
      <h1>Skincare is essential</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        repudiandae aperiam consectetur sunt dolor sed itaque ipsa dolorem nisi
        consequatur voluptate molestiae tempore quod modi, placeat obcaecati,
        neque debitis impedit?
      </p>
    </div>
    <img
      class="skinAndhair-img-sm m-5"
      src="https://i.pinimg.com/474x/58/08/65/580865f12d2aa4c220b79d6896738167.jpg"
      alt=""
    />
  </div>

  <div class="d-flex">
    <img
      class="skinAndhair-img-sm m-5"
      src="https://i.pinimg.com/474x/c2/65/8a/c2658aa0750a74f2b2fa9875d24bf3bd.jpg"
      alt=""
    />
    <div class="skinAndhair-h">
      <h1>Skincare is essential</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        repudiandae aperiam consectetur sunt dolor sed itaque ipsa dolorem nisi
        consequatur voluptate molestiae tempore quod modi, placeat obcaecati,
        neque debitis impedit?
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="skinAndhair-h">
      <h1>Skincare is essential</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        repudiandae aperiam consectetur sunt dolor sed itaque ipsa dolorem nisi
        consequatur voluptate molestiae tempore quod modi, placeat obcaecati,
        neque debitis impedit?
      </p>
    </div>
    <img
      class="skinAndhair-img-sm m-5"
      src="https://i.pinimg.com/474x/62/e6/d1/62e6d1df84c7e2e6cf1ef905fcf83c3d.jpg"
      alt=""
    />
  </div>

  <div class="d-flex">
    <img
      class="skinAndhair-img-sm m-5"
      src="https://i.pinimg.com/736x/72/5e/d7/725ed72c8c2e519d51f9b146b7ce2fc1.jpg"
      alt=""
    />
    <div class="skinAndhair-h">
      <h1>Skincare is essential</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        repudiandae aperiam consectetur sunt dolor sed itaque ipsa dolorem nisi
        consequatur voluptate molestiae tempore quod modi, placeat obcaecati,
        neque debitis impedit?
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="skinAndhair-h">
      <h1>Skincare is essential</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        repudiandae aperiam consectetur sunt dolor sed itaque ipsa dolorem nisi
        consequatur voluptate molestiae tempore quod modi, placeat obcaecati,
        neque debitis impedit?
      </p>
    </div>
    <img
      class="skinAndhair-img-sm m-5"
      src="https://i.pinimg.com/474x/53/b1/ef/53b1ef7754cb7da7bd31247e8a910940.jpg"
      alt=""
    />
  </div>
</div>
<!-- skin and hair ended -->

<footer>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non placeat
    molestias minima voluptate labore animi blanditiis quod laboriosam, qui
    dolorum accusamus dolor reiciendis molestiae numquam, eligendi veritatis
    cumque tempora dicta.
  </p>
</footer>
